In [1]:
from google.cloud import aiplatform

In [2]:
# Initialize the AI Platform client with your project and location
project = "aa-ai-specialisation"
location = "us-central1"
endpoint_id = "5557804779012358144"
endpoint = f"{location}-aiplatform.googleapis.com"
client_options = {"api_endpoint": endpoint}

In [3]:
def endpoint_predict_sample(
    project: str, location: str, instances: list, endpoint: str
):
    aiplatform.init(project=project, location=location)

    endpoint = aiplatform.Endpoint(endpoint)

    prediction = endpoint.predict(instances=instances)
    print(prediction)
    return prediction

In [4]:
%load_ext google.cloud.bigquery

The google.cloud.bigquery extension is already loaded. To reload it, use:
  %reload_ext google.cloud.bigquery

In [5]:
%%bigquery train_df
SELECT * FROM `aa-ai-specialisation.black_friday.preprocessed_train_df`

Query is running:   0%|          |

Downloading:   0%|          |

In [6]:
train_df

,User_ID,Product_ID,Gender,Age,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,missing_Product_Category_2,missing_Product_Category_3,City_A,City_B,City_C
0,1003521,P00350942,0,2,0,3,0,3,4,5,10718,0,0,0,1,0
1,1003521,P00295942,0,2,0,3,0,2,5,15,13002,0,0,0,1,0
2,1003521,P00086042,0,2,0,3,0,8,14,17,9764,0,0,0,1,0
3,1003521,P00086442,0,2,0,3,0,8,13,15,7904,0,0,0,1,0
4,1003521,P00192042,0,2,0,3,0,5,9,14,5328,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1003261,P00324942,0,4,20,1,1,5,0,0,7061,1,1,0,1,0
550064,1003261,P00358742,0,4,20,1,1,5,0,0,5392,1,1,0,1,0
550065,1003261,P00116342,0,4,20,1,1,2,0,0,16489,1,1,0,1,0
550066,1003261,P00087442,0,4,20,1,1,5,0,0,7111,1,1,0,1,0
550067,1003261,P00372445,0,4,20,1,1,20,0,0,598,1,1,0,1,0

In [8]:
train_df_copy = train_df.copy()
X= train_df_copy.drop(columns=['User_ID', 'Product_ID','Purchase'])
y = train_df_copy['Purchase'].astype(int)

In [12]:
list(X.iloc[0])

[0, 2, 0, 3, 0, 3, 4, 5, 0, 0, 0, 1, 0]

In [17]:
instances = [list(X.iloc[0])]

In [26]:
instances = [[0, 2, 0, 3, 0, 3, 4, 5, 0, 0, 0, 1, 0]]

In [27]:
prediction = endpoint_predict_sample(project, location, instances, endpoint_id)

Prediction(predictions=[10221.7880859375], deployed_model_id='2031868900827725824', model_version_id='1', model_resource_name='projects/653183562498/locations/us-central1/models/8420937455787573248', explanations=None)